@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center, start);
  min-height: 100vh;
  color: colors.$GRAY2;
  background-color: colors.$BG_COLOR;
}
