@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.addTodoButton {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 18px;
  background-color: colors.$BLUE;
  border-radius: 6px;
  transition: background-color 300ms;

  &:hover {
    background-color: rgba(colors.$BLUE, 0.8);
  }
}
