// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BG_COLOR: #fbfcfe;
$APP_BG: #ffffff;
$APP_BOX_SHADOW: rgba(0, 0, 0, 10%);
$MAIN_COLOR: #ffd300;
$MAIN_TEXT_COLOR: #222222;
$SUB_TEXT_COLOR: #666666;
$BORDER_COLOR: #eeeeee;
